.screen-local-canvas,
.screen-foreign-canvas{
	width: 100%;
}

/* Common Style */

body {
	font-family: 'Lato', sans-serif;
	font-size: 150%;
	font-weight: 300;
}

.btn-start:hover, .btn-copy:hover {
	background-color: #fff;
	border-color: #fff;
	color: #FC9F4D;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;

}

/* Homepage style */

.center {
	text-align: center;
}

img.main-img {
	height: 100%;
}

.item {
	width: 100%;
}

.carousel-caption {
	margin-bottom: 60px;
	font-size: 200%;
}

p.title {
	font-size: 200%;
	font-weight: 700;
	color: white;
}

.navbar {
    z-index:10;
    background:#fff;
    width:100%;
	border: none;
	padding-top: 15px;
	padding-bottom: 40px;
	margin-bottom: 0px;

	/* Enable Tranparent Navbar */
    position:absolute;
	background-color: rgba(255,255,255,0.0);
}

/*  Navbar shadow
.shadow-nav {
	-webkit-box-shadow: 0px 4px 38px 0px rgba(110,104,110,1);
	-moz-box-shadow: 0px 4px 38px 0px rgba(110,104,110,1);
	box-shadow: 0px 4px 38px 0px rgba(110,104,110,1);
}*/

.block {
	padding: 120px 80px 120px 80px;
	line-height: 25px;
	width: 100%;
}

.block-title {
	font-size: 180%;
}

.block-text-lg {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 110%;
	width: 90%;
}

.bg-grey {
	background-color: #F8F8F8;
}

.btn-start {
	background-color: #FC9F4D;
	border-radius: 40px;
	border-color: #FC9F4D;
	color: #fff;
	font-size: 90%;
	font-weight: 700;
	width: 30%;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 35px;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;
}

.text {
	padding-top: 90px;
}

.display {
	height: 400px;
	width: auto;
}

.navbar-brand {
	padding-left: 35px;
}

/* Demo page style */

.btn-copy:hover {
	border-color: #CCC;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;

}

.select-mode {
	width: 100%;
	height: auto;
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.img-caption-ninja, .img-caption-mentor {
	position: absolute;
	z-index: 3;
	bottom: 55px;
	left: 40px;
	font-size: 250%;
	color: #fff;
	font-weight: 700;
}

.img-caption-ninja-detail, .img-caption-mentor-detail {
	margin-left: 30px;
	margin-right: 30px;
	position: absolute;
	z-index: 3;
	top: 55px;
	font-size: 180%;
	color: #fff;
	font-weight: 500;
}

.detail-title {
	font-size: 150%;
	font-weight: 700;
}

.top-margin {
	margin-top: 40px;
}

.enter-block {
	width: 50% !important;
}

.table-main {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

.input-group-btn {
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px !important;
	border: none;
}

.btn-copy {
	padding-top: 5px;
}

.input-group {
	height: 15px;
}

.form-control, .btn-copy {
	height: 45px;
}

.btn-copy, .title-block {
	background-color: #FC9F4D;
	color: #fff;
}

/* Tutorial alert style */

#starttutorial {
	margin-left: 10px;
}
