.screen-local-canvas,
.screen-remote-canvas{
	width: 100%!important;
}

/* Common Style */

.vcenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 150%;
	font-weight: 300;
}

.btn-start:hover, .btn-copy:hover {
	background-color: #fff;
	border-color: #fff;
	color: #FC9F4D;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;

}

::-webkit-scrollbar {
    width: 9px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    /*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1); border:0px;*/
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.0);
}

/* Ninja/Mentor session stuff */

.detached-elements > div{
	position: fixed;
}

.detached-elements .button-menu{
	bottom: 0px;
	width: 100%;
	z-index:9999;
}

.detached-elements .chat-list-wrap{
	padding: 0;
    border: 0;
}

.chat-list-wrap .chat-list{
	max-height: 300px;
    overflow-y: scroll;
}

.chat-list-wrap .chat-item-remote{
	background-color: #eee;
    text-align: right;
}

.button-menu-buttons,
.chat-list-wrap .input-group{
    float: right;
	padding: 0px;
}

.chat-list-wrap .input-group > input{
	width: 100%;
}

.button-menu-buttons .chat-open{
	position: relative;
}

.button-menu-buttons .badge{
    font-size: 9px;
    position: absolute;
    z-index: 10000;
    top: 3px;
    right: 2px;
    padding: 2px 4px;
    color: #fff;
    background-color: #d51b16;
}

.button-menu-buttons .expiry-count-down{
    font-family: monospace;
}

.detached-elements .loading-overlay{
	width: 100%;
    height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index:99999;
	color: white;
}

.detached-elements .alert-wrapper{
	z-index:999999;
}

/* Fancy Loading (by mrfrase3 :P) */

.fancy-loading{
  text-align: center;
}

.fancy-loading .loading-block{
  width: 35px;
  display: inline-block;
  font-size: 0px;
}

.fancy-loading  .loading-block-half{
  background-color: orange;
  width:10px;
}

.fancy-loading .loading-block > div{
  height: 20px;
  display: inline-block;
}

/* Homepage style */

.center {
	text-align: center !important;
}

img.main-img {
	height: 100%;
}

.item {
	width: 100%;
}

img#mentor-img-home {
	margin-top: -15px;
}

.carousel-caption {
	margin-bottom: 3%;
	font-size: 200%;
}

p.title {
	font-size: 200%;
	font-weight: 700;
	color: white;
}

.navbar {
    z-index:10;
    background:#fff;
    width:100%;
	border: none;
	padding-top: 15px;
	padding-bottom: 40px;
	margin-bottom: 0px;

	/* Enable Tranparent Navbar */
    position:absolute;
	background-color: rgba(255,255,255,0.0);
}

/*  Navbar shadow
.shadow-nav {
	-webkit-box-shadow: 0px 4px 38px 0px rgba(110,104,110,1);
	-moz-box-shadow: 0px 4px 38px 0px rgba(110,104,110,1);
	box-shadow: 0px 4px 38px 0px rgba(110,104,110,1);
}*/

.block {
	padding: 120px 80px 120px 80px;
	line-height: 25px;
	width: 100%;
}

.block-title {
	font-size: 180%;
}

.block-text-lg {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 110%;
}

.bg-grey {
	background-color: #F8F8F8;
}

.btn-start {
	background-color: #FC9F4D;
	border-radius: 40px;
	border-color: #FC9F4D;
	color: #fff;
	font-size: 90%;
	font-weight: 700;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 35px;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;
}

.text {
	padding-top: 90px;
}

.display {
	height: 400px;
	width: auto;
}

.navbar-brand {
	padding-left: 35px;
}

#ninja-img-home {
	float: right;
}

/* Demo page style */

.btn-copy:hover {
	border-color: #CCC;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;

}

.select-mode {
	width: 100%;
	height: auto;
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.img-caption-ninja, .img-caption-mentor {
	position: absolute;
	z-index: 3;
	bottom: 55px;
	left: 40px;
	font-size: 250%;
	color: #fff;
	font-weight: 700;
}

.img-caption-ninja-detail, .img-caption-mentor-detail {
	margin-left: 30px;
	margin-right: 30px;
	position: absolute;
	z-index: 3;
	top: 55px;
	font-size: 180%;
	color: #fff;
	font-weight: 500;
}

.detail-title {
	font-size: 150%;
	font-weight: 700;
}

.top-margin {
	margin-top: 40px;
}

.enter-block {
	width: 50% !important;
}

.table-main {
	display: table;
	width: 42%;
}

.table-main div {
	float: none !important;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

.input-group-btn {
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px !important;
	border: none;
}

.btn-copy {
	padding-top: 5px;
}

.input-group {
	height: 15px;
}

.form-control, .btn-copy {
	height: 45px;
}

.btn-copy, .title-block {
	background-color: #FC9F4D;
	color: #fff;
}

/* Tutorial alert style */

.starttutorial {
	margin-left: 10px;
}
/* Ninja and Mentor Page Colors adjusting */

.alert-danger, .btn-danger {
	background-color: #DB4D6D;
	border-color: #DB4D6D;
}

.btn-warning {
	background-color: #FC9F4D;
	border-color: #FC9F4D;
}

.btn-success {
	background-color: #00AA90;
	border-color: #00AA90;
}

.btn-success:hover {
	background-color: #66BAB7;
	border-color: #66BAB7;
}

.btn-default, .label-default {
	background-color: #333;
	border-color: #333;
}

.panel-heading {
	background-color: #2EA9DF !important;
}

.panel-primary {
	border-color: #2EA9DF !important;
}

/* responsive layout */



@media screen and (max-width: 2570px) {
   	.carousel-caption {
   		font-size: 400% !important;
		margin-bottom: 5%;
   	}
	
	.block {
		padding-left: 480px;
		padding-right: 480px;
		font-size: 120%;
		line-height: 30px;
	}
	
	img#mentor-img-home {
		margin-top: 30px;
	}
	
	.btn-start {
		margin-top: 25px;
		border-radius: 80px;
		padding: 25px;
		padding-left: 35px;
		padding-right: 35px;
		
	}
	
	#logo {
		width: 200%;
	}
	
}

	


@media screen and (max-width: 2468px) {
   	.carousel-caption {
   		font-size: 370% !important;
		margin-bottom: 5%;
   	}
	
	.block {
		padding-left: 460px;
		padding-right: 460px;
		font-size: 120%;
		line-height: 30px;
	}
	
	img#mentor-img-home {
		margin-top: 30px;
	}
	
	.btn-start {
		margin-top: 25px;
	}
	
	#logo {
		width: 190%;
	}

	
}

@media screen and (max-width: 2348px) {
   	.carousel-caption {
   		font-size: 350% !important;
		margin-bottom: 5%;
   	}
	
	.block {
		padding-left: 440px;
		padding-right: 440px;
		font-size: 120%;
		line-height: 30px;
	}
	
	img#mentor-img-home {
		margin-top: 30px;
	}
	
	.btn-start {
		margin-top: 25px;
	}
	
	#logo {
		width: 180%;
	}
	
}


@media screen and (max-width: 2230px) {
   	.carousel-caption {
   		font-size: 330% !important;
		margin-bottom: 3%;
   	}
	
	.block {
		padding-left: 420px;
		padding-right: 420px;
		font-size: 100%;
		line-height: 30px;
	}
	
	img#mentor-img-home {
		margin-top: 25px;
	}
	
	.btn-start {
		margin-top: 25px;
	}
	

	#logo {
		width: 170%;
	}
}

@media screen and (max-width: 2120px) {
   	.carousel-caption {
   		font-size: 310% !important;
		margin-bottom: 3%;
   	}
	
	.block {
		padding-left: 400px;
		padding-right: 400px;
		font-size: 100%;
		line-height: 30px;
	}
	
	img#mentor-img-home {
		margin-top: 25px;
	}
	
	.btn-start {
		margin-top: 25px;
	}
	

	#logo {
		width: 160%;
	}
}


@media screen and (max-width: 2048px) {
   	.carousel-caption {
   		font-size: 290% !important;
		margin-bottom: 3%;
   	}
	
	.block {
		padding-left: 380px;
		padding-right: 380px;
		font-size: 100%;
		line-height: 30px;
	}
	
	img#mentor-img-home {
		margin-top: 25px;
	}
	
	.btn-start {
		margin-top: 25px;
	}
	

	#logo {
		width: 150%;
	}
	
}


@media screen and (max-width: 1920px) {
   	.carousel-caption {
   		font-size: 270% !important;
		margin-bottom: 3%;
   	}
	
	.block {
		padding-left: 350px;
		padding-right: 350px;
		font-size: 100%;
		line-height: 30px;
	}
	
	img#mentor-img-home {
		margin-top: 25px;
	}
	
	.btn-start {
		margin-top: 25px;
	}
	

	#logo {
		width: 140%;
	}
}

@media screen and (max-width: 1800px) {
   	.carousel-caption {
   		font-size: 230% !important;
		margin-bottom: 3%;
   	}
	
	.block {
		padding-left: 320px;
		padding-right: 320px;
		font-size: 100%;
		line-height: 30px;
	}
	
	img#mentor-img-home {
		margin-top: 25px;
	}
	
	.btn-start {
		margin-top: 25px;
	}
	
	#logo {
		width: 130%;
	}
	
}

@media screen and (max-width: 1680px) {
   	.carousel-caption {
   		font-size: 220% !important;
		margin-bottom: 3%;
   	}
	
	.block {
		padding-left: 270px;
		padding-right: 270px;
		font-size: 100%;
		line-height: 30px;
	}
	
	img#mentor-img-home {
		margin-top: 25px;
	}
	
	.btn-start {
		margin-top: 25px;
		border-radius: 40px;
		padding: 15px;
		padding-left: 25px;
		padding-right: 25px;
	}
	
	#logo {
		width: 120%;
	}
	
}

@media screen and (max-width: 1560px) {
   	.carousel-caption {
   		font-size: 200% !important;
		margin-bottom: 3%;
   	}
	
	.block {
		padding-left: 180px;
		padding-right: 180px;
		font-size: 100%;
		line-height: 25px;
	}
	
	img#mentor-img-home {
		margin-top: 5px;
	}
	
	.btn-start {
		margin-top: 25px;
	}
	
	#logo {
		width: 110%;
	}
}

@media screen and (max-width: 1440px) {
   	.carousel-caption {
   		font-size: 190% !important;
		margin-bottom: 3%;
   	}
	
	.block {
		padding-left: 120px;
		padding-right: 120px;
		font-size: 100%;
		line-height: 25px;
	}
	
	img#mentor-img-home {
		margin-top: 5px;
	}
	
	.btn-start {
		margin-top: 25px;
	}
}


@media screen and (max-width: 1200px) {
	.top-margin {
		font-size: 80%;
	}
	
}


@media screen and (max-width: 1190px) {
   	.carousel-caption {
   		font-size: 180% !important;
		margin-bottom: 2%;
   	}
	
	.block {
		padding-left: 80px;
		padding-right: 80px;
	}
	
	img#mentor-img-home {
		margin-top: 0px;
	}
	
	.btn-start {
		margin-top: 25px;
	}
	
}

@media screen and (max-width: 1070px) {
   	.carousel-caption {
   		font-size: 160% !important;
   	}

	.btn-start {
		margin-top: 20px;
	}
	
	.block {
		padding-left: 60px;
		padding-right: 60px;
	}
	
	img#mentor-img-home {
		margin-top: 10px;
	}
	
	
}


 @media screen and (max-width: 990px) {
    	.carousel-caption {
    		font-size: 140% !important;
			margin-bottom: 1%;
    	}
		
		.block {
			padding-left: 100px;
			padding-right: 100px;
		}
		
		img#mentor-img-home {
			margin-top: 40px;
			margin-bottom: 60px;
			text-align: center;
		}
		
		.img-center, #ninja-img-home {
		    float: none !important;
		    text-align: center;
		}
		
		.block-title {
			text-align: center;
		}
		
		.block-text-lg {
			margin: 0px;
		}
		
		.btn-start {
			margin-top: 15px;
		}
		
		.top-margin {
			font-size: 150%;
			float: none;
			text-align: center;
		}
		
		.table-main {
			margin-bottom: 40px;
			width: 100%;
			float: none;
			text-align: center;
		}
		
 }
 
 @media screen and (max-width: 930px) {
   	.carousel-caption {
   		font-size: 120% !important;
   	}
	
	.btn-start {
		margin-top: 10px;
	}
	
 }
 
 
 @media screen and (max-width: 850px) { 

   	.carousel-caption {
   		font-size: 100% !important;
		margin-bottom: 0%;
   	}

	.btn-start {
		margin-top: 5px;
	}
	
	.block {
		font-size: 90%;
	}
	
  }
  
  @media screen and (max-width: 768px) { 
	  

  	.btn-start {
  		margin-top: 0px;
  	}
	
	#logo {
		width: 80%;
	}
	
	.top-margin {
		font-size: 120%;
	}

   }
   
   
   
   @media screen and (max-width: 620px) { 
      	.carousel-caption {
      		font-size: 80% !important;
   		margin-bottom: 0%;
      	}
		
		.top-margin {
			font-size: 100%;
		}
		
    }
   
    @media screen and (max-width: 580px) { 
       	.carousel-caption {
       		font-size: 60% !important;
    		margin-bottom: 0%;
       	}
		
		.block {
			padding: 30px 20px 30px 20px;
			font-size: 70%;
		}
		
		#logo {
			width: 70%;
		}
		
		.top-margin {
			font-size: 80%;
		}
     }
	 
     @media screen and (max-width: 500px) { 
        	.carousel-caption {
        		font-size: 50% !important;
     			margin-bottom: 0%;
        	}
		
 		#logo {
 			width: 0%;
 		}
		
		.top-margin {
			font-size: 60%;
		}
      }
	  
	  
      @media screen and (max-width: 430px) { 
         	.carousel-caption {
         		font-size: 50% !important;
      			margin-bottom: -5%;
         	}
		
  		
			img.display {
				width: 80%;
				height: auto;
			}
			
			.top-margin {
				font-size: 50%;
			}
       }
	  
   
   
   
   

