<div class="detached-elements">
    <div class="button-menu">
        <div class="button-menu-buttons">
            <div class="btn btn-warning expiry-wrap" data-expires="{{expire}}">Time Left: <span class="expiry-count-down">xx:xx</span></div>
        </div>
    </div>
</div>

<div class="heading-spacer"></div>
<div class="container">
	<div class="col-md-12 col-sm-12 demo-box-wrap">
		<div class="col-md-5 col-md-offset-1 demo-box">

            <div class="center">
                <a href="#" target="_blank" class="mode-link-ninja">
                    <div class="img-caption-ninja">NINJA</div>
                    <div class="img-caption-ninja-detail"><p class="detail-title">NINJA</p><hr>A Ninja connects to a Mentor from their Dojo asking for help and are able to share their screen. Click here to try it out!</div>
                </a>
            </div>

            <div class="input-group">
               <input id="ninjaCopyTarget" type="text" class="form-control" value="{{{ninja}}}">
               <span class="input-group-btn">
                    <button id="ninjaCopyButton" class="btn btn-copy" type="button"><b>COPY</b></button>
               </span>
            </div>
		</div>


		<div class="col-md-5 demo-box">

            <div class="center">
                <a href="#" target="_blank" class="mode-link-mentor">
                    <div class="img-caption-mentor">MENTOR</div>
                    <div class="img-caption-mentor-detail"><p class="detail-title">MENTOR</p><hr>A Mentor will receive help requests from a Ninja from their Dojos and answer to their call for help. Click here to try it out!</div>
                </a>
            </div>

            <div class="input-group">
               <input id="mentorCopyTarget" type="text" class="form-control" value="{{{mentor}}}">
               <span class="input-group-btn">
                    <button id="mentorCopyButton" class="btn btn-copy" type="button"><b>COPY</b></button>
               </span>
            </div>
		</div>
	</div>
</div>